<div class= "container">
<h1>Adicione seu pet</h1>

<%= simple_form_for @pet, as: :pet, url: pets_path(@pet), method: :post do |f| %>
<%= f.input :name %>
<%= f.input  :size_kg, collection: Pet::SIZE_KG.map { |e| e.capitalize}, include_blank: false %>
<%= f.input  :breed, collection: Pet::BREED.map { |e| e.capitalize}, include_blank: false  %>
<%= f.submit "Adicionar Bicho", class:"btn btn-primary"%>
<% end %>
</div>
